.menu{
	min-height: 100vh;
	background-image: url('../images/fondopasto.jpg');
	background-size: 100%;
}
.menu h1{
	text-shadow: 1px 2px 3px #4444;
}
.botones-text{
	width: 90%;
	margin:0 auto;
}
.botones-text button{
	margin-top: 10px;
	margin-left: 25px;
	width: 3.2rem;
	height: 3.2rem;
	background: none;
	color:#fff;
	border-radius: 50%;
	cursor:pointer;
	transition: .5s;
	text-shadow: 2px 2px #000;
	position: relative;
}
.botones-text button:hover{
	background: rgba(255,255,255,.3);
}
.botones-text button:focus{
	outline: none;
}
.botones-text button:after{
	content: '';
	position:absolute;
	height: .4rem;
	width: 2.5rem;
	/*border:1px solid #fff;*/
	border-radius: 50%;
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	left: 5px;
	bottom:8px;

}
.reordenar{
	background: none;
}
#example-timer {
height: 150px;
margin: 20px auto;
width: 150px;
}
.example {
text-align: center;
/*margin-top: 4%;*/
}
#start,#pause,#stop{
	width: 3rem;
}
@media (max-width: 1024px){
	h1{
		font-size: 2rem!important;
	}
	.botones-text{
	width: 95%;
	}
	.botones-text button{
	width: 3rem;
	height: 3rem;
	}
	.botones-text button:after{
	height: .3rem;
	width: 2rem;
	left: 8px;
	bottom:9px;

	}
	h2{
		font-size: 2rem !important;
	}
	.citas h2{
		font-size: 1.7rem !important;
	}
	#example-timer {
	height: 80px;
	margin: 10px auto;
	width: 80px;
	}
	.crono{
		margin-top:1rem;
	}
	.inicio,.Pause{
		padding: .2rem .2rem;
    font-size: .700rem;
    line-height: 1;
    border-radius: .2rem;
	}
}
@media (max-width: 886px){
	.botones-text button{
	width: 2rem;
	height: 2rem;
	margin-left: 20px;
	}
	.botones-text button:after{
	height: .1rem;
	width: 1.5rem;
	left: 4px;
	bottom:5px;
	
	}
	h2{
		font-size: 1.7rem !important;
	}
	.citas h2{
		font-size: 1.4rem !important;
	}
	.menu{
    background-size: 290%;
    background-position-x: 50%;
	}
}