.centrar{
	margin:0 auto;
}
.hide{
	display: none !important;
}
.btn-org{
    width: 7rem;
    padding: 2px !important;
    min-height: 3rem !important;
    overflow: auto;
    white-space: normal !important;
  }
  p{
    margin-bottom: 0;
  }
  .org{
    border: 2px solid #000;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    height: 15px;
  }
  .org-1{
    width: 48%;
  }
  .org-2{
    width: 24%;
  }
  .org-2 span{
    position: relative;
    top:-1.5rem;
    font-weight: 600
  }
  .org-3{
    width: 12%;
  }
  .org-3 span{
    position: relative;
    top: -1.5rem;
    font-weight: 600
  }
.ronda span{
	cursor: pointer;
}
.example {
text-align: center;
/*margin-top: 4%;*/
}

/* Make sure the div you use for this is a square! */
#example-timer {
height: 150px;
margin: 20px auto;
width: 150px;
}
.crono{
position: fixed;
z-index: 2000;
width: 100%;
height: 100vh;
background: #e7e0d2;
top:0;
/*right: -100%;*/
transition: .5s;
}
.msjend{

display: none !important;
}
.titulos{
height: 12rem;

margin-top: 2.5rem;
/*background: #ccc;*/
display: flex;
justify-content: space-between;
}

.titnom{
color: brown;
font-size: 3rem;
margin-bottom: 5px;
background:#fff;
border-radius: 4px;
}
.titulo1{
	position: relative;
	right: 22rem;
	opacity: 0;
	transition: .8s;
}
.titulo2{
	position: relative;
	left: 22rem;
	opacity: 0;
	transition: .8s;
}
.and{
color: brown;
font-size: 3rem;

/*background: #000;*/

}
.end{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
font-size: 2rem;
color: red;
/*width: 22rem;*/
/*height: 12rem;*/
margin-right: 25%;
margin-left: 25%;
/*background: #000;*/
}
.salir{
display: flex;
justify-content: center;
margin-top: 2rem;
height: 3rem;
}
.return{
background: -webkit-linear-gradient(#006666 0%, #33cccc 100%);
background: -o-linear-gradient(#006666 0%, #33cccc 100%);
background: linear-gradient(#006666 0%, #33cccc 100%);
}
.inicio{
background: #009900;
}
.alto{
background: red;
}
.rew{
background: #666;
}
.premio{
	position: fixed;
	z-index: 2100;
	width: 100%;
	height: 100vh;
	background: rgba(000,000,000,.3);
	top:0;
	/*right: -100%;*/
}
.podium{
	background: #fff;
	overflow:hidden;
	height: 500px;
	position: relative;
	top:10%;
	background-image: url('../');
	transition: .5s;
}
.primer-lugar{
	font-size: 2rem;
    color: #fff;
    background: darksalmon;
    border-radius: 5px;
}
.segundo-lugar{
	font-size: 2rem;
    color: #fff;
    background: darksalmon;
    border-radius: 5px;
}
.tercer-lugar{
	font-size: 2rem;
    color: #fff;
    background: darksalmon;
    border-radius: 5px;
}
.menu{
  min-height: 100vh;
  background:#ccc;
}
.botones a{
  width: 6rem;
}
.home{
  position: fixed;
  right: 1rem;
  top:1rem;
}
.canto{
  background-image: url('../images/music.png');
  min-height: 100vh;
  background-position: center;
  background-size: 1024px 720px;
  /*background-repeat: no-repeat;*/
}
.poesia{
  background-image: url('../images/poesia.jpg');
  min-height: 100vh;
  /*width: 100vw;*/
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.tituloC{
  color:#fff;
  text-shadow: 2px 2px 8px #ccc;
}
.btn-C{
  border-radius: 50%;
  color:#fff;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  box-shadow: 2px 2px 8px rgba(204,204,204,.5);
  background: rgb(169,3,41); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 1%, rgba(143,2,34,1) 35%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 1%,rgba(143,2,34,1) 35%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(169,3,41,1) 1%,rgba(143,2,34,1) 35%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn-P{
  border-radius: 50%;
  color:#fff;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  box-shadow: 2px 2px 8px rgba(204,204,204,.5);
  background: rgb(41, 82, 163); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(41, 82, 163,1) 1%, rgba(41, 82, 130,1) 35%, rgba(41, 50, 163,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(41, 82, 163,1) 1%,rgba(41, 82, 130,1) 35%,rgba(41, 50, 163,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(41, 82, 163,1) 1%,rgba(41, 82, 130,1) 35%,rgba(41, 50, 163,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.modal-C{
  height: 100vh;
  width: 100vw;
  background: #000;
  background-image: url('../images/canto.jpg');
  background-position: center;
  /*background-size: 100vh 100vw;*/
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  z-index: 1000;
}
.modal-P{
  height: 100vh;
  width: 100vw;
  background: #000;
  background-image: url('../images/poesia1.jpg');
  background-position: center;
  /*background-size: 100vh 100vw;*/
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  z-index: 1000;
}
.pres{
  padding-top: 10%;
}
.pres h2{
  margin-left: 15%;
  text-shadow: 3px 3px 5px #000;
  position: relative;
  bottom:3rem;
  transition: 1s;
  opacity: 0;
}
.concur[readonly]{
  background-color: rgba(0,0,0,.4);
  color:#fff;
}
.inpoes[readonly]{
  background-color: rgba(41, 82, 163,.6);
  color:#fff;
}
.turno{
  opacity: 0;
  transition: .5s;
}